
body{
    font-family: 'Newsreader', serif;
    overflow-X: hidden;
}



#leftArrow{
    display: none;
    opacity: 0.4;
}

#rightArrow{
    display: none;
}

#bigTitle{
    text-align: center;
    font-size: 400%;
}

#getStarted{
    text-align: center;
    font-size: 200%;
    color: white;
    background-color: darkgreen;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 1.2%;
    border-radius: 15px;
    
    -webkit-user-select: none;
}

#getStarted:hover{
    cursor: pointer;
    background-color: #32a852;
    transition: 0.5s;
    -webkit-user-select: none;
}

.question{
    font-size: 175%;
    padding-bottom: 3%;
    border-bottom: 1px solid black;
    margin-top: 0;
    line-height: 1.2;
}

.choiceHolder{
    display: flex;

    -webkit-user-select: none;
    margin-bottom: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 1.2%;
}

.choiceEmpty{
    height: 40px;
    width: 40px;
    border-radius:50%;
    border: 4px solid blue;
    margin-right: 5%;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    
}

.choiceHolder:hover{
    cursor: pointer;
    background-color:whitesmoke;
}

.choiceContent{

    font-size: 150%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    max-width: 80%;
}

.choiceContent:hover{
    cursor: pointer;
}

#navigation{

    margin-left: -2%;
    background-color: #ededed;
    border-top: 2px solid #68736b;

    position: fixed;
    bottom: 0;
    width: 100%;
    transition: 1s;
}

#subNavigation{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.leftNav{
    font-size: 150%;
    padding: 1%;
    background-color: orange;
    color: white;
    padding-top: 0;
    -webkit-user-select: none;
    transition: 0.5s;
    opacity: 0.4;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.leftNav:hover{
    background-color: #ff8000;
    transition: 0.5s;
    cursor: pointer;
}

.rightNav{
    font-size: 150%;
    padding: 1%;
    background-color: darkgreen;
    color: white;
    padding-top: 0;
    -webkit-user-select: none;
    transition: 0.5s;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.rightNav:hover{
    background-color: #173b17;
    transition: 0.5s;
    cursor: pointer;
}

.midNav{
    font-size: 175%;
    padding-top: 1.15%;
    margin-right: 7.5%;
    margin-left: 7.5%;

    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

#quizContent{

    
    width: 65%;
    padding-bottom: 2%;
    padding-top: 2%;
    display: none;
    
}

#leftArrow{
    width: 12.5%;
    margin-right: 5%;
    color: black;
    font-size: 750%;
    text-align: center;
    justify-content: center;
    -webkit-user-select: none;
    position: relative;
    text-align: center;
    opacity: 0.4;
}

#leftArrow:hover{
    background-color: #bccfc1;
    cursor: pointer;
}

#childLeft{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
#rightArrow{
    width: 12.5%;
    margin-left: 5%;
    color: black;
    font-size: 750%;
    text-align: center;
    justify-content: center;
    -webkit-user-select: none;
    position: relative;
    text-align: center;
}

#childRight{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#rightArrow:hover{
    background-color: #bccfc1;
    cursor: pointer;
}

#imtoolazyforthis{
    display: none;
    text-align: center;
}

#topCaption{
    margin-top: 10%;
    font-size: 275%;
}

#scoreDisplay{
    font-size: 175%;
    margin-top: 1%;
}

#score{
    font-size: 100%;
    font-weight: bold;
    margin-top: 2%;
    
}

#scoreBreakdown{
    font-size: 225%;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}
#scoreBreakdown2{
    font-size: 225%;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 4.5%;
    margin-top: 4.5%;
}

.scoreBreakdownDetail{
    display: flex;
}

.holder{
    width: 50%;
    border: 2px solid black;
    background-color: green;
    color: white;
}

.holder:hover{
    opacity: 0.75;
    cursor: pointer;
}
.first{
    font-size: 175%;
    text-align: center;
    margin-bottom: 0.5%;
    
}

.second{
    text-align: center;
    font-size: 275%;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.third{
    text-align: center;
    font-size: 125%;
    color: white;
}

#linkHolder{
    display: flex;
    font-size:200%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.links{
    width:40%;
    background-color: cornflowerblue;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: 0.5s;
}

.links:hover{
    cursor: pointer;
    background-color: #1a4ae8;
    transition: 0.5s;
}

.detailHolder{
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    display: flex;
}

.firstCol{
    width: 32.5%;
    border-right: 2px solid black;
    padding: 1%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 150%;
}

.secondCol{
    width: 7.5%;
    border-right: 1px dotted grey;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2%;
    padding-bottom: auto;
    font-size: 150%;
    text-align: center; 
    font-weight: bold;
}

.thirdCol{
    width: 7.5%;
    border-right: 1px dotted grey;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2%;
    padding-bottom: auto;
    font-size: 150%;
    text-align: center; 
    font-weight: bold;
}

.fourthCol{
    width: 7.5%;
    border-right: 2px solid black;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2%;
    padding-bottom: auto;
    font-size: 150%;
    text-align: center; 
}

.fifthCol{
    width: 6%;
    border-right: 1px dotted grey;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2%;
    padding-bottom: auto;
    font-size: 150%;
    text-align: center; 
}

.sixthCol{
    width: 7.5%;
    border-right: 2px solid black;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2%;
    padding-bottom: auto;
    font-size: 150%;
    text-align: center; 
}

.seventhCol{
    width: 11.5%;
    border-right: 1px dotted grey;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2%;
    padding-bottom: auto;
    font-size: 150%;
    text-align: center; 
}

.eighthCol{
    width: 8%;
    border-right: 4px solid black;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2%;
    padding-bottom: auto;
    font-size: 150%;
    text-align: center; 
}

.ninthCol{
    width: 8%;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2%;
    padding-bottom: auto;
    font-size: 150%;
    text-align: center; 
}

#firstDetailHolder{
margin-top: 0;
    display: flex;
    margin-bottom: 0;
    position: sticky;
}

.subDetailHolder{
    font-size: 150%;
    text-align: center;
    word-wrap: break-word;
    border-right: 1px dotted black;
    margin-top: 0;
    margin-bottom: 0;

    padding-top: auto;
    padding-bottom: auto;
    border-top: 3px solid black;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#section{
    margin-bottom: 100%;
    width: 100.2%;
}


#explanationHolder{
    margin-bottom: 25%;
    border-radius: 10px;
    padding: 2% 4%;
    margin-top: 2%;
    margin-left: 17.5%;
    margin-right: 17.5%;

}

#questionStatus{
    font-size: 175%;
    margin-top: 0;
    padding-top: 0;
}

#explanation{
    font-size: 150%;
  
    text-decoration: underline;
}

#explanationContent{
    font-size: 135%;
    line-height: 1.4;
    margin-bottom: 0;
}

#correctAnswer{
    font-weight: bold;
    color: green;
    text-decoration: underline;
}
#outerNavigation{
    
    background-color: whitesmoke;
    margin-top: -1%;

    position: relative;
    border-bottom: 2px solid darkgreen;
    margin-bottom: 2%;
    display: flex;
}
#topNavigation{
    display: flex;
    margin-left: 45%;
    width: 45%;
    margin-right: 5%;
}

#left{
    width: 50%;
    padding: 1%;
    text-align: center;
    font-size: 135%;
    transition: 0.5s;
    -webkit-user-select: none;
    opacity: 1;
}


#right{
    width: 50%;
    padding: 1%;
    text-align: center;
    font-size: 135%;
    transition: 0.5s;
    -webkit-user-select: none;
    opacity: 0.4;
}



#title{
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 175%;
    margin-left: 10%;
    text-decoration: none;
    color: black;
}

#left:hover{
    cursor: pointer;
    color: green;
    transition: 0.5s;

}

#right:hover{
    cursor: pointer;
    color: green;
    transition: 0.5s;

}

#flexQuizContent{
    display: flex;
}
@media only screen and (orientation: portrait){

    body{
        overflow-y: auto;
    }
    #quizContent{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        margin-top:5%;
        padding-bottom: 2.5%;
        line-height: 1.3;
        margin-bottom: 20%;

    }

    .question{
        padding-bottom: 5%;
        line-height: 1.2;
        font-size: 150%;
    }

    #getStarted{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 225%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    #bigTitle{
        font-size: 325%;
        margin-left: 5%;
        margin-right: 5%;

    }

    .choiceContent{
        font-size: 135%;
        margin-left: 0;
        word-wrap: break-word;
        max-width: 80%;
    }

    .choiceEmpty{
        height: 35px;
        width: 35px;
        border: 3px solid blue;
        margin-right: 5%;
    }

    #subNavigation{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .choiceHolder{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-top: 2.5%;
    }

    #linkHolder{
        flex-direction: column;
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }

    .links{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 3%;
        margin-bottom: 3%;
        padding-top: 3%;
        padding-bottom: 3%;
 
        font-size: 75%;
    }

    #topCaption{
        font-size: 225%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 4%;
 
        margin-left: 10%;
        margin-right: 10%;
        line-height: 1.1;
    }

    #scoreDisplay{
        font-size: 175%;
        margin-bottom: 5%;
        
    }



    #scoreBreakdown{
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 175%;
    }
    .scoreBreakdownDetail{
        flex-direction: column;
    }

    .holder{
        width: 100%;
    }

    #explanationHolder{
        margin-bottom: 25%;
        border-radius: 10px;
        padding: 4%;
        margin-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
    
    }

    #title{
        font-size: 135%;
        padding-bottom: 4%;
        padding-top: 4%;
    }

    #topNavigation{
        flex-direction: column;
        font-size: 85%;
        margin-left: 20%;
    }

    #left{
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        text-decoration: underline;
 
    }

    #right{
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        text-decoration: underline;
        display: block;
    }
    .first{
        font-size: 150%;
    }
    .second{
        font-size: 225%;
    }

}
